@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Merriweather"), url("../../fonts/merriweather-v28-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/merriweather-v28-latin_cyrillic-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-300 - latin_cyrillic */

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Nunito-Light"), url("../../fonts/nunito-v20-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/nunito-v20-latin_cyrillic-300.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-700 - latin_cyrillic */

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    src: local("Nunito-Bold"), url("../../fonts/nunito-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/nunito-v20-latin_cyrillic-700.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}